:root{
    --light-color: #b3aea4;
    --main-color: #2c2d2a;
    --graph-color : #666b61;
    --body-font: "Montserrat", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    font-family: var(--body-font);
    letter-spacing: .1em;
    font-weight: 500;
}
header{
    color: var(--light-color);
    background-color: var(--main-color);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header a{
    color: var(--light-color);
    letter-spacing: .1em;
    text-decoration: none;

}
header p, h1{
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1em;
}
h1 {
    font-size: 1.2em;
    text-transform: uppercase;
}

.data {
    margin: 20px;
    align-items: flex-start;
    display: flex;
}

.left_side {
    margin-right: 15px;
    width: 60%;
}

.left_side #jxgbox {
    width: 60%;
    height: 300px;
}

.right_side {
    width: 40%;
}