:root{
    --light-color: #e7dfcf;
    --dark-color: #2c2d2a;
    --graph-color : #666b61;
    --body-font: "Montserrat", sans-serif;
}
body{
    background-color: var(--light-color);
    font-family: var(--body-font);
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 500;
    color: var(--dark-color);
    margin: 0;
    padding: 0;
}
header{
    color: var(--light-color);
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
}
header a{
    color: var(--light-color);
    letter-spacing: .1em;
    text-decoration: none;

}
header p, h1{
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1em;
    margin-right: 1em;

}

#graph {
    flex: 1;
    margin-right: 3em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}
#content {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 15%;

}

footer {
    text-align: center;
    background-color: var(--dark-color);
    color: var(--light-color);
}


