#result-table-container {
    margin-top: 5%;
    overflow-x: auto;
}

#result-table {
    width: 80%;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    overflow: hidden;
}

#result-table th,
#result-table td {
    border: 1px solid var(--dark-color);
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-family: var(--body-font);
    letter-spacing: .1em;
}

#result-table th {
    background-color: var(--dark-color);
    color: var(--light-color);
}

#result-table tr:nth-child(even) {
    background-color: var(--light-color);
}

#result-table tr:nth-child(odd) {
    background-color: var(--light-color);
}