:root{
    --light-color: #e7dfcf;
    --dark-color: #2c2d2a;
    --body-font: "Montserrat", sans-serif;
    --addl-color : #948f85;
}
body{
    background-color: var(--light-color);
    font-family: var(--body-font);
    color: var(--dark-color);
    margin: 0;
    padding: 0;
}
header{
    color: var(--light-color);
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: .1em;

}
header a{
    color: var(--light-color);
    letter-spacing: .1em;
    text-decoration: none;

}
.header-menu{
    cursor: pointer;
    margin-left: 3%;
}
h1{
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.2em;
    align-content: center;
}
.github{
    cursor: pointer;
    margin-right: 3%;
}
#content{
    margin-left: 5%;
}
.container{
    margin-left: 5%;
}
footer {
    width: 100%;
    height: 6em;
    background-color: var(--light-color);
    display: flex;
    padding: 1em;
    align-items: center;
}

.dark-logo{
    height: 4em;
    width: auto;
    margin: 1em auto;
}
.light-logo{
    height: 4em;
    width: auto;
    margin: 1em auto;
    display: none;
}

polygon,
path {
    stroke: var(--dark-color);
    fill: var(--addl-color);

}
line {
    color: var(--dark-color);
}

/*theme settings*/
.light-theme .dark-logo {
    display: inline-block;
}

.light-theme .light-logo {
    display: none;
}

.dark-theme .light-logo {
    display: inline-block;
}

.dark-theme .dark-logo {
    display: none;
}