:root{
    --light-color: #e7dfcf;
    --main-color: #2c2d2a;
    --body-font: "Montserrat", sans-serif;
}
body{
    background-color: var(--light-color);
    font-family: var(--body-font);
    color: var(--main-color);
    margin: 0;
    padding: 0;
}
header {
    padding: 1em;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-menu a {
    color: var(--light-color);
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.4em;
    letter-spacing: .1em;
    font-weight: 400;
}
.header-menu a:hover{
    opacity: .7;
}

.theme-toggle {
    font-size: 3.5em;
    cursor: pointer;
    margin-right: .5em;
    color: var(--light-color);
}

.header-icons{
    display: flex;
    align-items: center;
}
.github-icon {
    color: var(--light-color);
    text-decoration: none;
    margin-right: 2em;
}

.light-theme {
    background-color: var(--light-color);
    color: var(--main-color);
}

.dark-theme {
    background-color: var(--main-color);
    color: var(--light-color);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.4em;
    height: 1.8em;
    cursor: pointer;
    font-size: 1.6em;
    margin-left: 1em;
}
.menu-icon:hover{
    opacity: .7;
}

.menu-icon-bar {
    width: 80%;
    height:2.5px;
    background-color: var(--light-color);
    margin-bottom: 6px;
    transition: background-color .6s ease;
}

.menu-icon.close .menu-icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-icon.close .menu-icon-bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.close .menu-icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: var(--main-color);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.show {
    left: 0;
}

.page-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.shift {
    margin-left: 200px;
}

.menu-icon {
    transition: transform 0.3s ease;
}

.menu-icon.close {
    transform: translateX(200px);
}

.sidebar a {
    display: block;
    margin-top: .8em;
    margin-bottom: 1em;
    padding: 5px 10px;
    color: var(--light-color);
    font-family: var(--body-font);
    text-decoration: none;
    margin-left: 2em;
    align-items: center;
    font-size: 1.4em;
    letter-spacing: .1em;
    font-weight: 400;

}

.sidebar a:hover {
    opacity: .7;;
}
.github-icon svg {
    fill: var(--light-color);
}

footer {
    width: 100%;
    height: 6em;
    background-color: var(--light-color);
    display: flex;
    padding: 1em;
    align-items: center;
}

.dark-logo{
    height: 4em;
    width: auto;
    margin: 1em auto;
}
.light-logo{
    height: 4em;
    width: auto;
    margin: 1em auto;
    display: none;
}



/*theme settings*/
.light-theme {
    background-color: var(--light-color);
    color: var(--main-color);
}

.dark-theme {
    background-color: var(--main-color);
    color: var(--light-color);
}

.light-theme .github-icon svg {
    fill: var(--light-color);
}

.dark-theme .github-icon svg {
    fill: var(--main-color);
}
.light-theme .header{
    color: var(--light-color);
    background-color: var(--main-color);
}
.dark-theme .header{
    color: var(--main-color);
    background-color: var(--light-color);
}
.light-theme .header-menu a{
    color: var(--light-color);
}
.dark-theme .header-menu a{
    color: var(--main-color);
}
.light-theme .menu-icon-bar{
    background-color: var(--light-color);
}
.dark-theme .menu-icon-bar{
    background-color: var(--main-color);
}
.light-theme .theme-toggle{
    background-color: var(--light-color);
}
.dark-theme .theme-toggle{
    color: var(--main-color);
}
.light-theme .sidebar{
    background-color: var(--main-color);
}
.dark-theme .sidebar{
    background-color: var(--light-color);
}
.light-theme .sidebar a{
    color: var(--light-color);
}
.dark-theme .sidebar a{
    color: var(--main-color);
}

.light-theme .logo {
    background-color: var(--light-color);
}
.light-theme .logo {
    background-color: var(--main-color);
}

.light-theme .dark-logo {
    display: inline-block;
}

.light-theme .light-logo {
    display: none;
}

.dark-theme .light-logo {
    display: inline-block;
}

.dark-theme .dark-logo {
    display: none;
}



